NEXT_PUBLIC_BLINKIT_URL=https://blinkit.com/prn/pure-select-raw-peanuts-palli/prid/793784?srsltid=AfmBOooLTIyM8EXCWTCovaJNvKI7Vebk_vKDcOZ00hfIVFzxuNXzPplW
NEXT_PUBLIC_BLINKIT_URL_RAW_PEANUTS=https://blinkit.com/prn/pure-select-raw-peanuts-palli/prid/793784?srsltid=AfmBOooLTIyM8EXCWTCovaJNvKI7Vebk_vKDcOZ00hfIVFzxuNXzPplW
NEXT_PUBLIC_BLINKIT_URL_ROASTED_CHANA_DAL=https://blinkit.com/prn/pure-select-roasted-chana-dal-putnalu/prid/798934
NEXT_PUBLIC_BLINKIT_URL_RAJMA_CHITRA=https://blinkit.com/prn/pure-select-rajma-chitra/prid/799507
NEXT_PUBLIC_WHATSAPP_NUMBER=917207085910
NEXT_PUBLIC_SITE_URL=https://www.pureselect.in
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=youremail@gmail.com
SMTP_PASS=your-16-digit-gmail-app-password
SMTP_FROM_EMAIL=Pure Select <youremail@gmail.com>
ENQUIRY_TO_EMAIL=pureselectenterprises@gmail.com
NEXT_PUBLIC_TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=
